.hero {
    text-align: center;
    padding: 60px 20px;
    background: #eee;
}

.hero h1 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
    color: #666;
}

.search-box {
    display: flex;
    justify-content: center;
}

.search-box .input-wrap {
    position: relative;
    width: 400px;
    max-width: 90%;
}

.search-box .input-wrap img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.search-box input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.demo-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.demo-btn:hover {
    background: rgb(230, 2, 2);
}

.popular {
    padding: 40px;
}

.fire_icon{
    margin-left: 10px;
    width: 20px;
}

.popular h2 {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: 0.3s;
}

.icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.video-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.video-container.active {
    max-height: 500px;
    margin-top: 30px;
}

.video-container iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
}

.card:hover {
    transform: translateY(-5px);
}

.sections {
    padding: 50px 20px;
    text-align: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 900px;
    margin: 30px auto;
}

.section-card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: 0.3s;
    cursor: pointer;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
}

.section-card p {
    margin-top: 30px;
    color: #000000;
    text-decoration: none;
}

.section-card a {
    margin-top: 30px;
    color: #000000;
    text-decoration: none;
}

.section-card:hover {
    transform: translateY(-5px);
}

.section-card span {
    color: red;
}

.icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
}

.updates {
    padding: 40px 0;
}

.updates h3 {
    text-align: center;
    margin-bottom: 20px;
}

.update-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.update-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.update-box button {
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.update-box ul {
    list-style: none;
    padding-left: 0;
}

.update-box li {
    margin-bottom: 8px;
    padding-left: 18px;
    position: relative;
}

.update-box li::before {
    content: "•";
    color: red;
    position: absolute;
    left: 0;
}

.update-box-header button:hover {
    background: rgb(230, 2, 2);
}

.support {
    text-align: center;
    padding: 40px;
}

.support .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.support button {
    background: red;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.support button:hover {
    background: rgb(230, 2, 2);
}